* {
    font-family: arial, sans-serif;
}

body {
    background-color: rgba(128, 0, 0, 0.2);
    color: rgb(63, 0, 0);
}

#mainpage-h {
    font-size: 100px;
    margin: 50px;
}

.main-links {
    margin: 10px 40px;
    list-style: square;
}

ul {
    list-style: square;
}

ul, ol {
    margin: 0px 10px;
}

ol {
    margin-bottom: 25px;
}

li {
    margin-bottom: 5px;
}

.page-links {
    font-size: 25px;
    color: inherit;

}

h1 {
    font-size: 60px;
    margin: 25px;
}

h2 {
    font-size: 40px;
    margin: 40px 20px 20px 20px;
}

p, li {
    font-size: 22px;
}

img {
    height: 500px;
    width: auto;
    display: inline;
    margin: 5px 25px;
}

p {
    text-align: justify;
    margin: 20px 20px;
}

.blc-border {
    border: 2px dotted black;
}