* {
    font-family: arial, sans-serif;
}

body {
    background-color: rgba(128, 0, 0, 0.2);
    color: rgb(63, 0, 0);
}

#mainpage-h {
    font-size: 100px;
}

.page-links {
    font-size: 25px;
    color: inherit;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

p, li {
    font-size: 22px;
}

img {
    height: 500px;
    width: auto;
}